<div class="overlay" id="email">

	<div class="dialog">
		<div class="close-bar">
			<div class="close-overlay close-button"></div>
		</div>
		
		<form id="email-share">
			<div class="email-from">
				<label for="email">Sent From*</label>
				<input type="email" name="email" placeholder="Your email address">
				<div class="validation-message" id="validate-from">*Please include a valid e-mail address.</div>
			</div>
			<div class="email-to">
				<label for="recipient">Send To*</label>
				<input type="email" name="recipient" placeholder="The recipient's email address">
				<div class="validation-message" id="validate-to">*Please include a valid e-mail address.</div>
			</div>
			<div id="email-buttons">
				<div class="email-from">
					<a href="#" class="button" onClick="validateAndSendEmail();" id="email-send">Send <img src="/images/arrow-dot.png"></a>
				</div>
				<div class="email-to">
					<a href="#" class="button close-overlay" id="email-cancel">Cancel <img src="/images/arrow-dot.png"></a>
				</div>
			</div>
      <div id="email-error">
        <p>Oops! We apologize, an error has occurred on our side while handling your request. Please retry your request, as it may have been temporary or go back to our <a href="http://emverm.com">HOMEPAGE</a>.</p>
      </div>
		
		</form>
		
	</div>


</div>
