<div class="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <p class="footer-links"><a href="http://www.impaxlabs.com/privacy-statement/" target="_blank">Privacy Policy</a>
                | <a href="http://www.impaxlabs.com/legal_notices" target="_blank">Legal Notices</a> | <a
                        href="/sitemap">Site Map</a> | <a href="/contact-us">Contact Us</a></p>
            <p><span class="us-flag">This site is intended for residents of the United States only. Any product discussed herein may have different product labeling in different countries.</span>
            </p>
            <p>© 2017 <a href="http://www.impaxlabs.com/" target="_blank" alt="Go to www.impaxlabs.com"
                         style="text-decoration: none;">Impax Laboratories, Inc</a>. All rights reserved. PP-MEB-US-0014
                <span class="spacing"></span> 09/2017</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3"><img src="../images/impax-logo.png" class="footer-logo"
                                                       alt="Go to www.impaxpharma.com"></div>
    </div>
</div><!--end footer -->

 <!--=include ../Partials/email.html -->

