<div class="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <p class="footer-links"><a href="http://www.amneal.com/privacy_policy" target="_blank">Privacy Policy</a>
                | <a href="http://www.amneal.com/legal_notices" target="_blank">Legal Notices</a> | <a
                        href="/sitemap">Site Map</a> | <a href="/contact-us">Contact Us</a></p>
            <p><span class="us-flag">This site is intended for residents of the United States only. Any product discussed herein may have different product labeling in different countries.</span>
            </p>
            <p>© 2019 <a href="http://www.amneal.com/" target="_blank" alt="Go to www.amneal.com" title="Go to www.amneal.com"
                         style="text-decoration: none;">Amneal Pharmaceuticals LLC</a>. All rights reserved.  PP-MEB-US-0022  
                <span class="spacing"></span> 05/2019</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3"><a href="http://www.amneal.com/" target="_blank" alt="Go to www.amneal.com" title="Go to www.amneal.com" style="text-decoration: none;"><img src="../images/amneal-logo.png" class="footer-logo"
                                                       alt="Go to www.amneal.com" title="Go to www.amneal.com"></a></div>
    </div>
</div><!--end footer -->

 <!--=include ../Partials/email.html -->

