<div id="navcontainer" class="navbar-relative-top">
        <ul>
            <li><a href="#isi">Important Safety Information</a></li>
            <li> |</li>
            <li><a href="http://documents.impaxlabs.com/emverm/pi.pdf" target="_blank">Full Prescribing Information</a></li>
            <li class="mobile-hide"> |</li>
            <li class="mobile-hide"><a href="/pinworm-infection-faqs">FAQs</a></li>
            <li class="mobile-hide"> |</li>
            <li class="mobile-hide"><a href="http://www.amneal.com" target="_blank">Amneal Specialty Pharma</a>
            </li>
            <li class="mobile-hide"> |</li>
            <li class="mobile-hide"><a href="http://www.emvermhcp.com">For Healthcare Professionals</a></li>
        </ul>
</div>
<div class="container" style="padding:15px 10px 5px 10px">
    <nav class="navbar navbar-default" style="margin-bottom:0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="../images/emverm.png" class="img-responsive" id="logo"
                                 alt="EMVERM (mebendazole) 100-mg Chewable Tablet"
                                 title="EMVERM (mebendazole) 100-mg Chewable Tablet"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
				<div id="social-share">
					<a href="https://www.facebook.com/EMVERM/" target="_blank"><img src="../images/Facebook.png" width="21" height="20"></a>
					<a href="#" onClick="showEmailOverlay();"><img src="../images/MailShare.png" width="29" height="19"></a>
				</div>
                <ul class="nav navbar-nav navbar-right" style="border-bottom: 1px solid #c5dcb6;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle whatispinworm" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" title="What Are Pinworms?">What Are Pinworms?<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/what-are-pinworms" title="What Are Pinworms?">What Are Pinworms?</a></li>
                            <li><a href="/pinworm-infection" title="Pinworm Infection">Pinworm Infection</a></li>
                            <li><a href="/pinworm-symptoms" title="Pinworm Symptoms">Pinworm Symptoms</a></li>
                            <li><a href="/diagnosis" title="Talk To Your Doctor">Talk To Your Doctor</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle howemvermhelps" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" title="How EMVERM Helps">How EMVERM Helps<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about-emverm" title="Treating Pinworms With EMVERM">Treating Pinworms With EMVERM</a></li>
                            <li><a href="/side-effects" title="Possible Side Effects">Possible Side Effects</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle managingpinworminfection" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" title="Managing Pinworm Infection">Managing Pinworm Infection<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/protection-against-pinworm" title="Protecting Your Home">Protecting Your Home</a></li>
                            <li><a href="/preventing-pinworm-pinworm" title="Preventing Reinfection">Preventing Reinfection</a></li>
                        </ul>
                    </li>                            
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle helpfulresources" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" title="Helpful Resources">Helpful Resources<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/resources" title="Patient Brochure">Patient Brochure</a></li>
                            <li><a href="/pinworm-infection-faqs" title="FAQs">FAQs</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle savings" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" title="Savings">Savings<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/savings-program" title="EMVERM Savings">EMVERM Savings</a></li>
                            <li><a href="/patient-assistance-program" title="Patient Assistance Program">Patient Assistance Program</a></li>
                        </ul>
                    </li>
                    <li id="desktop-hide"><a href="http://emvermhcp.com" title="Healthcare Professionals">Healthcare
                        Professionals</a></li>
                    <li class="mobile-menu-close"><a data-toggle="collapse-side"><span
                            class="caret-close"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
