<div id="navcontainer" class="navbar-relative-top">
    <ul>
        <li><a href="#isi">IMPORTANT SAFETY INFORMATION</a></li>
        <li>|</li>
        <li><a href="http://documents.impaxlabs.com/emverm/pi.pdf" target="_blank">FULL PRESCRIBING INFORMATION</a></li>
        <li class="mobile-hide">|</li>
        <li class="mobile-hide"><a href="/pinworm-infection-faqs">FAQs</a></li>
        <li class="mobile-hide">|</li>
        <li class="mobile-hide"><a href="http://www.impaxpharma.com/" target="_blank">IMPAX SPECIALTY PHARMA</a></li>
        <li class="mobile-hide">|</li>
        <li class="mobile-hide"><a href="http://emvermhcp.com">FOR HEALTHCARE PROFESSIONALS</a></li>
    </ul>
</div>
<div class="container" style="padding:15px 10px 5px 10px">
    <nav class="navbar navbar-default" style="margin-bottom:0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="../images/emverm.png" class="img-responsive" id="logo"
                                 alt="EMVERM (mebendazole) 100-mg Chewable Tablet"
                                 title="EMVERM (mebendazole) 100-mg Chewable Tablet"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
				<div id="social-share">
					<a href="https://www.facebook.com/EMVERM/" target="_blank"><img src="../images/Facebook.png" width="21" height="20"></a>
					<a href="#" onClick="showEmailOverlay();"><img src="../images/MailShare.png" width="29" height="19"></a>
				</div>
                <ul class="nav navbar-nav navbar-right" style="border-bottom: 1px solid #c5dcb6;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle whatispinworm" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" title="What is Pinworm">What Is Pinworm <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/pinworm-infection" title="What is pinworm">What is pinworm</a></li>
                            <li><a href="/is-pinworm-contagious" title="Who gets it">Who gets it</a></li>
                            <li><a href="/pinworm-symptoms" title="Common symptoms">Common symptoms</a></li>
                            <li><a href="/diagnosis" title="Talk to your doctor">Talk to your doctor</a></li>
                            <li><a href="/pinworm-infection-faqs" title="FAQs">FAQs</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle protectingyourhousehold" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" title="Protecting Your Household">Protecting Your Household <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/avoid-pinworm-infection" title="Protecting your household">Protecting your
                                household</a></li>
                            <li><a href="/pinworm-life-cycle" title="How you get infected">How you get infected</a></li>
                            <li><a href="/pinworm-reinfection" title="How infection spreads">How infection spreads</a>
                            </li>
                            <li><a href="/how-to-get-rid-of-pinworm" title="Tips to rid your house of pinworm">Tips to
                                rid your house of pinworm</a></li>
                        </ul>
                    </li>
                    <li><a href="/about-pinworm-infection-treatment" title="What is EMVERM"  class="whatisemverm">What Is EMVERM</a></li>
                    <li><a href="/savings-program" title="EMVERM Savings" class="emvermsavings">EMVERM Savings</a></li>
                    <li><a href="/resources" title="Helpful Resources" class="helpfulresources">Helpful Resources</a></li>
                    <li id="desktop-hide"><a href="http://emvermhcp.com" title="Healthcare Professionals">Healthcare
                        Professionals</a></li>
                    <li class="mobile-menu-close"><a data-toggle="collapse-side"><span class="caret-close"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
